.what-you-get1 {
  width: 483px;
  position: relative;
  line-height: 24px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 22;
}
.text-capsule1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-lg);
  box-sizing: border-box;
  max-width: 100%;
}
.show-more2 {
  position: relative;
  line-height: 24px;
  z-index: 18;
}
.image-icon17 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 17;
}
.image-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.show-more-parent,
.text-capsule-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 4px;
  color: var(--color-dodgerblue);
}
.text-capsule-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-200);
  font-family: var(--font-inter);
}
